.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
    font-size: 20px;
}

.item a{
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.item a.active {
    color: gold;
}